<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>最家</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/myorder.css" />
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="images/logo-mi2.png" height="50px" width="60px" /></a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl">
							<a href="login.html" id="login">登录</a>
							<a href="register.html" id="reg">注册</a>
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="搜索" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="mygxin.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
					<li><a href="index.html">首页</a></li>
					<li>
						<a href="#">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<!-- 尚未更改-->
								<a href="search.html">
									<dl>
										<dt><img src="img/20230709164200.png"/></dt>
										<dd>华为</dd>
									</dl>
								</a>
								<a href="search.html">
									<dl>
										<dt><img src="img/20230710142351.png"/></dt>
										<dd>vivo</dd>
									</dl>
								</a>
								<a href="search.html">
									<dl>
										<dt><img src="img/20230710151444.png"/></dt>
										<dd>oppo</dd>
									</dl>
								</a>
								<a href="search.html">
									<dl>
										<dt><img src="img/20230710161145.png"/></dt>
										<dd>iPhone</dd>
									</dl>
								</a>
								<a href="search.html">
									<dl>
										<dt><img src="img/20230710162730.png" /></dt>
										<dd>小米</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="shopCart.html">购物车</a>
					</li>
				</ul>
			</div>
		</div>
		<!------------------------------idea------------------------------>
		<div class="address mt">
			<div class="wrapper clearfix">
				<a href="#" class="fl">首页</a>
				<span>/</span>
				<a href="mygxin.html">个人中心</a>
				<span>/</span>
				<a href="myorderq.html" class="on">我的订单</a>
			</div>
		</div>
		
		<!------------------------------Bott------------------------------>
		<div id="app">
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="#"><img src="img/tx.png"/></a>
						<p class="clearfix"><span class="fl">{{userInfo.username}}</span></p>
					</h3>
					<div>
						<h4>我的交易</h4>
						<ul>
							<li><a href="shopCart.html">我的购物车</a></li>
							<li><a href="myorderq.html">我的订单</a></li>
						</ul>
						<h4>个人中心</h4>
						<ul>
							<li><a href="mygxin.html">我的中心</a></li>
							<li class="on"><a href="address.html">地址管理</a></li>
						</ul>
						<h4>账户管理</h4>
						<ul>
							<li><a href="mygrxx.html">个人信息</a></li>
							<li><a href="forgetPwd.html">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<div class="my clearfix">
						<h2 class="fl">我的订单</h2>
						<a href="#" class="fl">请谨防钓鱼链接或诈骗电话，了解更多&gt;</a>
					</div>
					<div class="dlist clearfix">
						<ul class="fl clearfix" id="wa">
							<li class="on" @click="orderStatus=1,reset(),selectAll()"><a href="#2"  >全部订单</a></li>
							<li @click="orderStatus=2,reset(),selectAll()"><a href="#2l"  >待收货</a></li>
							<li @click="orderStatus=3,reset(),selectAll()"><a href="#2"  >已收货</a></li>
<!--							<li @click="orderStatus=4,reset(),selectAll()"><a href="#2"  >已关闭</a></li>-->
						</ul>
						<form action="#" method="get" class="fr clearfix">
							<input type="text" name="" v-model="searchMessage"  value="" placeholder="请输入商品名称、订单号" />
							<input type="button" name=""  value="" @click="orderStatus=5,reset(),search()" />
						</form>
					</div>
					<span v-for="order in orderInfo">
					<div class="dkuang">
						<p class="one" v-if="order.status==0">已关闭</p>
						<p class="one" v-if="order.status==1">已完成</p>
						<p class="one" v-if="order.status==2">未收货</p>
						<p class="one" v-if="order.status==3">已收货</p>
						<div class="word clearfix">
							<ul class="fl clearfix">
								<li>{{order.odate}}</li>
								<li>{{order.username}}</li>
								<li>订单号:{{order.ono}}</li>
								<li>在线支付</li>
							</ul>
							<p class="fr">订单金额：<span>{{order.price*order.num}}</span>元</p>
						</div>
						<div class="shohou clearfix">
							<a href="#" class="fl"><img :src="order.pics"/></a>
							<p class="fl"><a href="#">{{order.brand}} {{order.name}}</a><a href="#">¥{{order.price}}×{{order.num}}</a></p>
							<p class="fr">
								<a href="#" v-if="order.status==0">交易失败</a>
								<a href="#" v-if="order.status==1">交易完成</a>
								<a href="#" v-if="order.status==2" @click="confirmReceive(order.ono)">确认收货</a>
								<a href="#" v-if="order.status==2" @click="refund(order.ino)">申请退款</a>
								<a href="#" v-if="order.status==3" @click="changeStatus(order.ono)">完成订单</a>
								<a @click="saveMessage(order.ino)" href="orderxq.html">订单详情</a>
							</p>
						</div>
					</div>
						</span>
					<div class="fenye clearfix">
						<a href="#" @click="pre" ><img src="img/zuo.jpg" /></a>
						<a href="#">{{pagenum}}</a>
						<a href="#" @click="next"><img src="img/you.jpg"/></a>
						<p href="#" style="font-size: 17px;text-align: center" v-if="orderStatus==1">总页数:{{totalPage1}}页</p>
						<p href="#" style="font-size: 17px;text-align: center" v-if="orderStatus==2">总页数:{{totalPage2}}页</p>
						<p href="#" style="font-size: 17px;text-align: center" v-if="orderStatus==3">总页数:{{totalPage3}}页</p>
						<p href="#" style="font-size: 17px;text-align: center" v-if="orderStatus==4">总页数:{{totalPage4}}页</p>
						<p href="#" style="font-size: 17px;text-align: center" v-if="orderStatus==5">总页数:{{totalPage5}}页</p>
					</div>
				</div>
			</div>
		</div>
		</div>
		<!--返回顶部-->
		<div class="gotop">
			<a href="shopCart.html">
			<dl>
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br />物车</dd>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<!--footer-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot1.png"/></a>
						<span class="fl">7天无理由退货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot2.png"/></a>
						<span class="fl">15天免费换货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot3.png"/></a>
						<span class="fl">满599包邮</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot4.png"/></a>
						<span class="fl">手机特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">最家家居&copy;2013-2017公司版权所有 京ICP备080100-44备0000111000号<br />
			违法和不良信息举报电话：188-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
		</div>
		<script src="js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/user.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.js"></script>
		<script src="js/vue.js"></script>
		<script>
			//使用axios时,利用原型模式给axios加入 Authorization头,这样每个请求都会加入Authorization头部
			Vue.prototype.axios=axios;
			//在每次请求时,前段携带token到请求头中
			axios.interceptors.request.use(config=>{
				//从localStorage或Vuex中获取token
				const token=localStorage.getItem('token');
				//如果有token,就添加到请求头中
				if (token){
					config.headers.Authorization=token;
				}else {
					config.headers.Authorization='';
				}
				return config;
			},error=>{
				return Promise.reject(error);
			});

			let app=new Vue({
				el:"#app",
				data:{
					userInfo:{},
					loginStatus:0,
					orderInfo:{},
					pagenum:1,
					pagesize:3,
					orderStatus:1,    //判断查看的是哪个大类的订单,从而使分页得以运行 1为全部有效订单 2为已收货 3为待收货 4为已关闭
					totalPage1:1,   //全部有效订单的页数
					totalPage2:1,	//待收货订单的页数
					totalPage3:1,	//已收货订单的页数
					totalPage4:1,	//已关闭订单的页数
					totalPage5:1,	//查找的页数
					searchMessage:''
				},
				methods:{
					//检查登录
					checkLogin:function (){
						var _this=this;  //防止变量污染
						//如果浏览器的storage无token,则说明没有用户登录
						if (localStorage.getItem('token')==null){
							_this.userInfo={};
							_this.loginStatus=0;
							window.location="index.html";
						}
						axios.get('/xiaomi-security/user/loginCheck?pagenum=0&pagesize=0').then(data=>{
							if (data.data.code==0){
								_this.loginStatus=0;
								console.log(data.data);
							}else {
								_this.loginStatus=1;
								_this.userInfo=data.data.data;
								this.totalPage1 = data.data.totalPage1;
								this.totalPage2 = data.data.totalPage2;
								this.totalPage3 = data.data.totalPage3;
								this.totalPage4 = data.data.totalPage4;
								this.orderInfo=data.data.usefulOrder;
								console.log(this.orderInfo);
							}
						});
					},
					//查找
					search:function (){
						axios.get('/xiaomi-security/user/selectByInoOrName?message='+this.searchMessage+
						'&pagenum='+this.pagenum+'&pagesize='+this.pagesize).then(data=>{
							if (data.data.code==0){
								alert('查无此数据');
							}else {
								this.orderInfo=data.data.order;
								this.totalPage5=data.data.totalPage;
								console.log(data.data.totalPage);
							}
						})
					},
					//存商品信息到Session中
					saveMessage:function (result){
						sessionStorage.setItem("ino",result);
					},
					//确认收货
					confirmReceive:function (result){
						var ono=result;
						var params=new URLSearchParams();
						params.append("ono",ono);
						axios.post('/xiaomi-security/user/confirmReceive',params).then(data=>{
							if (data.code==0){
								alert('确认收货失败');
								return;
							}
								this.selectAll();
								alert('确认收货');
						})
					},
					//退款
					refund:function (result){
						var ino=result;
						var params=new URLSearchParams();
						params.append("ino",ino);
						axios.post('http://localhost:20001/xiaomi-security/user/refund',params).then(data=>{
							if (data.code==0){
								alert('退款失败');
								return;
							}
							this.selectAll();
							alert('退款成功');
						})
					},

					//刷新页数状态
					reset:function (){
						this.pagenum=1;
					},
					//完成订单后更改订单状态
					changeStatus:function (result){
						var ono=result;
						var params=new URLSearchParams();
						params.append("ono",ono);
						axios.post('http://localhost:20001/xiaomi-security/user/updateStatus',params).then(data=>{
							if (data.code==0){
								alert('完成订单失败');
								return;
							}
							this.selectAll();
							alert('订单完成');
						})
					},
					//上一页
					pre:function (){

						if (this.pagenum==1){
							return ;
						}
						this.pagenum=this.pagenum-1;
						if (this.orderStatus==1){
							this.selectAll();
						}
						if (this.orderStatus==2){
							this.selectAll();
						}
						if (this.orderStatus==3){
							this.selectAll();
						}
						if (this.orderStatus==4){
							this.selectAll();
						}
						if (this.orderStatus==5){
							this.search();
						}
					},
					//下一页
					next:function (){
						if (this.orderStatus==1){
							if (this.pagenum==this.totalPage1){
								alert('已是最后一页!!!');
								return;
							}
							this.pagenum=this.pagenum+1;
							this.selectAll();
						}
						if (this.orderStatus==2){
							if (this.pagenum==this.totalPage2){
								alert('已是最后一页!!!');
								return;
							}
							this.pagenum=this.pagenum+1;
							this.selectAll();
						}
						if (this.orderStatus==3){
							if (this.pagenum==this.totalPage3){
								alert('已是最后一页!!!');
								return;
							}
							this.pagenum=this.pagenum+1;
							this.selectAll();
						}
						if (this.orderStatus==4){
							if (this.pagenum==this.totalPage4){
								alert('已是最后一页!!!');
								return;
							}
							this.pagenum=this.pagenum+1;
							this.selectAll();
						}
						if (this.orderStatus==5){
							if (this.pagenum==this.totalPage5){
								alert('已是最后一页!!!');
								return;
							}
							this.pagenum=this.pagenum+1;
							this.search();
						}
					},
					//查看全部订单
					selectAll:function (){
						console.log(this.orderStatus);
						axios.get('/xiaomi-security/user/showOrder?id='+this.userInfo.id+'&pagenum='+this.pagenum+'&pagesize='
								+this.pagesize+'&orderStatus='+this.orderStatus).then(data=>{
							if (data.data.code==0){
								alert('初始化订单失败');
								return;
							}
							this.orderInfo=data.data.order;
							console.log(this.orderInfo);

						})
					},


					},
				mounted:function (){
					this.checkLogin();

				}


			})

		</script>
	</body>
</html>
