<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
		<title>个人信息</title>
		<link rel="stylesheet" type="text/css" href="css/public.css"/>
		<link rel="stylesheet" type="text/css" href="css/myorder.css" />
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"><img src="images/logo-mi2.png" height="50px" width="60px" /></a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl">
							<a href="login.html" id="login">登录</a>
							<a href="register.html" id="reg">注册</a>
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="搜索" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="mygxin.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
					<li><a href="index.html">首页</a></li>
					<li>
						<a href="#">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<!-- 尚未更改-->
								<a href="search.html">
									<dl>
										<dt><img src="img/20230709164200.png"/></dt>
										<dd>华为</dd>
									</dl>
								</a>
								<a href="search.html">
									<dl>
										<dt><img src="img/20230710142351.png"/></dt>
										<dd>vivo</dd>
									</dl>
								</a>
								<a href="search.html">
									<dl>
										<dt><img src="img/20230710151444.png"/></dt>
										<dd>oppo</dd>
									</dl>
								</a>
								<a href="search.html">
									<dl>
										<dt><img src="img/20230710161145.png"/></dt>
										<dd>iPhone</dd>
									</dl>
								</a>
								<a href="search.html">
									<dl>
										<dt><img src="img/20230710162730.png" /></dt>
										<dd>小米</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li>
						<a href="shopCart.html">购物车</a>
					</li>
				</ul>
			</div>
		</div>
		<!------------------------------idea------------------------------>
		<div class="address mt">
			<div class="wrapper clearfix">
				<a href="index.html" class="fl">首页</a>
				<span>/</span>
				<a href="myorderq.html" class="on">我的订单</a>
				<span>/</span>
				<a href="#" class="on">订单详情</a>
			</div>
		</div>
		
		<!------------------------------Bott------------------------------>
		<div id="app">
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="#"><img src="img/tx.png"/></a>
						<p class="clearfix"><span class="fl">{{orderInfo.username}}</span></p>
					</h3>
					<div>
						<h4>我的交易</h4>
						<ul>
							<li><a href="shopCart.html">我的购物车</a></li>
							<li><a href="myorderq.html">我的订单</a></li>
						</ul>
						<h4>个人中心</h4>
						<ul>
							<li><a href="mygxin.html">我的中心</a></li>
							<li class="on"><a href="address.html">地址管理</a></li>
						</ul>
						<h4>账户管理</h4>
						<ul>
							<li><a href="mygrxx.html">个人信息</a></li>
							<li><a href="forgetPwd.html">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl">
					<div class="my clearfix">
						<h2>订单详情<a href="#">请谨防钓鱼链接或诈骗电话，了解更多&gt;</a></h2>
						<h3>订单号：<span>{{orderInfo.ono}}</span></h3>
					</div>
					<div class="orderList">
						<div class="orderList1">
							<h3  v-if="orderInfo.status==0">已关闭</h3>
							<h3  v-if="orderInfo.status==1">已完成</h3>
							<h3  v-if="orderInfo.status==2">未收货</h3>
							<h3  v-if="orderInfo.status==3">已收货</h3>
							<div class="clearfix">
								<a href="#" class="fl"><img :src="orderInfo.pics"/></a>
								<p class="fl"><a href="#">{{orderInfo.brand}} {{orderInfo.name}} {{orderInfo.color}} {{orderInfo.cap}}</a><a href="#">¥{{orderInfo.price}}×{{orderInfo.num}}</a></p>
							</div>
						</div>
						<div class="orderList1">
							<h3>收货信息</h3>
							<p>姓 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：<span>{{orderInfo.consignee}}</span></p>
							<p>联系电话：<span>{{orderInfo.tel}}</span></p>
							<p>收货地址：<span>{{orderInfo.address}}</span></p>
						</div>
						<div class="orderList1">
							<h3>支付方式及送货时间</h3>
							<p>支付方式：<span>在线支付</span></p>
							<p>送货时间：<span>不限送货时间</span></p>
						</div>
						<div class="orderList1 hei">
							<h3><strong>商品总价：</strong><span>¥{{orderInfo.price*orderInfo.num}}</span></h3>
							<p><strong>运费：</strong><span>¥0</span></p>
							<p><strong>订单金额：</strong><span>¥{{orderInfo.price*orderInfo.num}}</span></p>
							<p><strong>实付金额：</strong><span>¥{{orderInfo.price*orderInfo.num}}</span></p>
						</div>
						
					</div>
					
					
				</div>
			</div>
		</div>
		</div>
		
		<!--返回顶部-->
		<div class="gotop">
			<a href="shopCart.html">
			<dl>
				<dt><img src="img/gt1.png"/></dt>
				<dd>去购<br />物车</dd>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img src="img/gt2.png"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a href="mygxin.html">
			<dl>
				<dt><img src="img/gt3.png"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none">
			<dl>
				<dt><img src="img/gt4.png"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<!--footer-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot1.png"/></a>
						<span class="fl">7天无理由退货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot2.png"/></a>
						<span class="fl">15天免费换货</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot3.png"/></a>
						<span class="fl">满599包邮</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img src="img/foot4.png"/></a>
						<span class="fl">手机特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">最家家居&copy;2013-2017公司版权所有 京ICP备080100-44备0000111000号<br />
			违法和不良信息举报电话：400-800-8200，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试</p>
		</div>
		<script src="js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/user.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.js"></script>
		<script src="js/vue.js"></script>
		<script>
			let app=new Vue({
				el:"#app",
				data:{
					orderInfo:{},
					ino:0
				},
				methods:{
					setMessage:function (){
						this.ino=sessionStorage.getItem("ino");
						axios.get('/xiaomi-security/user/selectOnlyOrder?ino='+this.ino).then(data=>{
							if (data.code==0){
								alert('差无此订单!!!');
								location.href='myorderq.html';
							}
							this.orderInfo=data.data.order;
							console.log(this.orderInfo);
						})
					},

				},
				mounted:function (){
					this.setMessage();
				}

			})
		</script>
	</body>
</html>
