<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>手机详情</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css1/iconfont.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        [v-cloak]{
            display:none !important;
        }
    </style>

</head>
<body>
<div id="plu5" v-cloak>
    <div class="box">
        <div class="inner whiteGL">
            <div class="left">
                <a class="mix" href="">小米商城</a>
                <a href="">MIUI</a>
                <a href="">loT</a>
                <a href="">云服务</a>
                <a href="">水滴</a>
                <a href="">金融</a>
                <a href="">有品</a>
                <a class="max" href="">Select Region</a>
            </div>
            <div class="right">
<!--                <a class="mix" href="login.html">登录</a>-->
<!--                <a href="reg.html">注册</a>-->
<!--                <a class="max"  href="">消息通知</a>-->
                <a href="cart.html">我的购物车</a>
            </div>
        </div>
    </div>
    <div class="logo">
        <div class="logo_left">
            <div>
                <a href="index.html" title="小米官网"><img class="xiaomi" src="img/logo.jpg"></a>

            </div>
        </div>
        <ul class="logo_center orangeGL">
            <a href="">小米手机</a>
            <a href="">红米</a>
            <a href="">笔记本</a>
            <a href="">电视</a>
            <a href="">盒子</a>
            <a href="">新品</a>
            <a href="">路由器</a>
            <a href="">智能硬件</a>
            <a href="">服务</a>
            <a href="">我的购物车</a>
        </ul>
        <form class="logo_right">
           <div class="logo_input"><input type="text"   v-model="searchBrand"   >
               <div class="logo_input_div">
                   <a class="logo_input_a" href="">{{phone.name}}</a>
               </div>
           </div >
            <a  href="#"  class="logo_right_a"   @click="findBrand()" >
                <img src="img/find.jpg">
            </a>
        </form>
    </div>
    <div class="plus5_no1">
        <h2 class="plus5_no1_float">{{phone.brand}}</h2><p class="plus5_no1_float">|</p><a href="javascript:;" class="plus5_no1_float"p>{{phone.name}}</a>
        <a href="javascript:;" class="plus5_no1_float_rigth">用户评价概述</a>
        <span class="plus5_no1_float_rigth">|</span>
        <a href="javascript:;" class="plus5_no1_float_rigth">F码通道</a>
        <span class="plus5_no1_float_rigth">|</span>
        <a href="javascript:;" class="plus5_no1_float_rigth">概述</a>
    </div>
<!--    <div class="plus5_no2 ">-->
<!--        <div class="plus5_no2_in">-->
<!--            <a class="plus5_no2_in_a"> 为方便您购买，请提前登录 </a>-->
<!--            <a class="plus5_no2_in_a orange"style="color: pink;" href="login.html"  >立即登录</a>-->
<!--            <a id="plus5_no2_in" class="plus5_no2_in_a" href="javascript:;">x</a>-->
<!--        </div>-->
<!--    </div>-->
    <div class="plus5_no3" id="plu5_id">
        <div class="plus5_no3_img">
            <img :src="'../'+phone.pics" style="display: block" alt="">
<!--            <img src="img/plus5_02.jpg" style="display: none" alt="">-->
<!--            <img src="img/plus5_03.jpg" style="display: none" alt="">-->
<!--            <img src="img/plus5_04.jpg" style="display: none" alt="">-->
        </div>
        <div class="plus5_no3_right">
            <h1>{{phone.name}}</h1>
            <p class="plus5_no3_right_p2"><span class="plus5_no3_right_span2">「64GB立减200元」</span>{{phone.name}}</p>
            <p class="plus5_no3_right_p3" v-if="price !== null && price !== 0">{{price}}元<span class="plus5_no3_right_span3">{{integerPrice}}元</span></p>

            <div >
            </div>
            <div class="plus5_no3_right_div5">
                <p  @mouseover="showDropdown = true"  @mouseleave="startTimer" style="letter-spacing: 6px;">{{ daddress }}
                    <span class="plus5_no3_right_div5_span"></span></p>
                <div style=" background-color:#fff;border: 1px solid seashell;box-shadow: 0 2px 10px rgba(0,0,0,.15);
 " v-if="showDropdown" class="dropdown" >
                    <p @mouseover="resetTimer" @mouseleave="hideDropdown"  style="letter-spacing: 6px;" v-for="(address,i) in addresses" :key="i" @click="selectAddress(address)">{{address.address}}
                        <span class="plus5_no3_right_div5_span"></span></p>

                </div>
            </div>
            <div class="plus5_no3_right_div6">选择版本</div>
            <div class="plus5_no3_right_div7" >
                <li
                        v-for="(pi, index) in phones"
                        :key="index"
                        :class="{
                        plus5_no3_right_div7_in: true,
                        plus5_no3_right_div7_in_hover: activeIndex !== index,
                        gray: activeIndex === index,
                         }"
                        @click="changeColor(pi,index)"
                > <div>
                    <span class="plus5_no3_right_div7_span0">{{ pi.cap }}GB</span>
                </div>
                </li>
            </div>
<!--            //修改-->
            <div class="plus5_no3_right_div6">选择颜色</div>
            <div class="plus5_no3_right_div9" >
                <div >
<!--                    修改-->
                    <div v-for="(pj,index1) in colors" :key="index1"  :class="{plus5_no3_right_div7_in:true,
                    plus5_no3_right_div7_in_hover: active1 !== index1,
                    gray: active1 === index1, }" @click="changeColor1(pj,index1)">
                        <div><li ><span >{{pj.color}}</span></li></div>
                    </div>
                    </div>

            </div>
            <div class="plus5_no3_right_div10">
                <p class="plus5_no3_right_div10_p1">{{phone.name}} <span class="plus5_no3_right_div10_span0">{{pi.cap}}</span> <span class="plus5_no3_right_div10_span1"></span><span class="plus5_no3_right_div10_span2">{{col}}</span></p>
                <!--修改-->
                <p class="plus5_no3_right_div10_p2" v-if="price !== null && price !== 0">总计 ：{{price}}元</p>
                <p class="plus5_no3_right_div10_p2" v-else>暂无现货</p>
            </div>
            <a href="#" @click.prevent>
                <div  v-if="statusnum === 0" style="background-color: gray;width: 300px; margin-top: 30px;height: 54px;line-height: 50px; text-align: center;color: #fff; "    :class="{ disabled: statusnum === 0 }">
                    正在加急补货。。。。
                </div>
                <div v-else class="plus5_no3_right_div11" @click="addCart()">
                    加入购物车
                </div>
            </a>
            <div class="plus5_no3_right_div12">
                <div class="plus5_no3_right_div12_y">√</div>
                <div class="plus5_no3_right_div12_z">七天无理由退货</div>
                <div class="plus5_no3_right_div12_y">√</div>
                <div class="plus5_no3_right_div12_z">15天质量问题换货</div>
                <div class="plus5_no3_right_div12_y">√</div>
                <div class="plus5_no3_right_div12_z">360天保障</div>
            </div>
            <a href="javascript:void (0);"></a>

        </div>
    </div>
    <div id="app" style="width: 62.5rem;margin: 0 auto;">
        <div >
            <el-input type="textarea"placeholder="请输入评论" v-model="comment.content"></el-input>
            <div style="text-align: right;margin: 10px 0;">
                <el-button  type="primary" @click="submit">提交</el-button>
            </div>
        </div>
        <div style="margin: 20px 0">
            <div style="margin:10px 0;font-size: 24px;padding: 10px 0;border-bottom: 1px solid #ccc; text-align: left">评论列表</div>
            <div style="margin:20px 0;text-align: left">
                <div style="padding: 10px 0" v-for="(hostcomment,i) in hostComments"  :key="i">
                    <div style="display: flex">
                        <div style="width: 80px"><el-avatar shape="square" :size="50" :src="'https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png'"></el-avatar></div>
                        <div style="flex: 1">
                            <div>{{hostcomment.com.username}}</div>
                            <div style="margin-top: 10px;color: #666">{{hostcomment.com.content}}</div>
                            <div><el-button type="text" @click="ureply(hostcomment.com.id,hostcomment.com.username)">回复</el-button></div>
                            <div style="margin-left: 100px;background-color: aliceblue;padding: 10px;border-radius: 10px">
                                <div v-for="(childcomment,i) in hostComments[i].childList  " >
                                    <div style="padding: 5px 0"><b style="cursor: pointer" @click="replyChild(hostcomment.com.id,childcomment.username)">{{childcomment.username}}</b><span>回复<span style="color: cornflowerblue">@{{childcomment.target}}</span>
                                    <span style="color: #666;margin-left: 10px;font-size: 13px;margin-top: 3px">{{childcomment.content}}</span></span></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <el-dialog title="回复" :visible.sync="dialogFormVisible" width="40%">
            <el-form :model="child">
                <el-form-item label="内容" :label-width="String(80)">
                    <el-input v-model="child.name" autocomplete="off"   style="width: 80%"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="savereply()">确 定</el-button>
            </div>
        </el-dialog>
    </div>
    <div class="foot">
        <ul class="foot_ul">
            <li class="foot_li">预约维修服务</li>
            <li class="foot_li">7天无理由退货</li>
            <li class="foot_li">15天免费换货</li>
            <li class="foot_li">满15元包邮</li>
            <li class="foot_li foot_fot">520余家售后网点</li>
        </ul>
        <div class="foot_center">
            <div class="foot_cen_left">
                <dl class="foot_dl">
                    <dt class="foot_dt">帮助中心</dt>
                    <dd class="foot_dd"><a>账户管理</a></dd>
                    <dd class="foot_dd"><a>购物指南</a></dd>
                    <dd class="foot_dd"><a>订单操作</a></dd>
                </dl>
                <dl class="foot_dl">
                    <dt class="foot_dt">帮助中心</dt>
                    <dd class="foot_dd"><a>账户管理</a></dd>
                    <dd class="foot_dd"><a>购物指南</a></dd>
                    <dd class="foot_dd"><a>订单操作</a></dd>
                </dl>
                <dl class="foot_dl">
                    <dt class="foot_dt">帮助中心</dt>
                    <dd class="foot_dd"><a>账户管理</a></dd>
                    <dd class="foot_dd"><a>购物指南</a></dd>
                    <dd class="foot_dd"><a>订单操作</a></dd>
                </dl>
                <dl class="foot_dl">
                    <dt class="foot_dt">帮助中心</dt>
                    <dd class="foot_dd"><a>账户管理</a></dd>
                    <dd class="foot_dd"><a>购物指南</a></dd>
                    <dd class="foot_dd"><a>订单操作</a></dd>
                </dl>
                <dl class="foot_dl">
                    <dt class="foot_dt">帮助中心</dt>
                    <dd class="foot_dd"><a>账户管理</a></dd>
                    <dd class="foot_dd"><a>购物指南</a></dd>
                    <dd class="foot_dd"><a>订单操作</a></dd>
                </dl>
                <dl class="foot_dl">
                    <dt class="foot_dt">帮助中心</dt>
                    <dd class="foot_dd"><a>账户管理</a></dd>
                    <dd class="foot_dd"><a>购物指南</a></dd>
                    <dd class="foot_dd"><a>订单操作</a></dd>
                </dl>
            </div>
            <div class="foot_cen_right">
                <p class="foot-phone">400-100-5678</p>
                <p class="foot-right-center">周一至周日 8:00-18:00<br>（仅收市话费)</p>
                <a class="foot-right-bottmo" href="">联系客服</a>
            </div>
        </div>
    </div>
    <div class="fot_bot_max">
        <div class="fot_bot">
            <img src="img/logo.jpg" class="fot_bot_logo" >
            <div class="fot_bot_text">
                <p class="fot_bot_p">
                    <a class="fot_bot_a" href="">小米商城</a>
                    <span class="fot_bot_span">|</span>
                    <a class="fot_bot_a" href="">MIUI</a>
                    <span class="fot_bot_span">|</span>
                    <a class="fot_bot_a" href="">米家</a>
                    <span class="fot_bot_span">|</span>
                    <a class="fot_bot_a" href="">米聊</a>
                    <span class="fot_bot_span">|</span>
                    <a class="fot_bot_a" href="">多看</a>
                    <span class="fot_bot_span">|</span>
                    <a class="fot_bot_a" href="">游戏</a>
                    <span class="fot_bot_span">|</span>
                    <a class="fot_bot_a" href="">路由器</a>
                    <span class="fot_bot_span">|</span>
                    <a class="fot_bot_a" href="">米粉卡</a>
                    <span class="fot_bot_span">|</span>
                    <a class="fot_bot_a" href="">政企服务</a>
                    <span class="fot_bot_span">|</span>
                    <a class="fot_bot_a" href="">小米天猫店</a>
                    <span class="fot_bot_span">|</span>
                    <a class="fot_bot_a" href="">隐私政策</a>
                    <span class="fot_bot_span">|</span>
                    <a class="fot_bot_a" href="">问题反馈</a>
                    <span class="fot_bot_span">|</span>
                    <a class="fot_bot_a" href="">廉政举报</a>
                    <span class="fot_bot_span">|</span>
                    <a class="fot_bot_a" href="">Select Region</a>
                </p>
                <p class="fot_bot_p fot_bot_a1">
                    "©"
                    <a class="fot_bot_a1" href="">mi.con</a>
                    " 京ICP证110507号"
                    <a class="fot_bot_a1" href="">京ICP备10046444号</a>
                    <a class="fot_bot_a1" href="">京公网安备11010802020134号</a>
                    <a class="fot_bot_a1" href="">京网文[2017]1530-131号</a>
                    "<br>违法和不良信息举报电话：185-0130-1238，本网站所列数据，除特殊说明，所有数据均出自我司实验室测试"



                </p>
            </div>
            <div class="fot_bot_right">
                <a href="" class="fot_bot_right_img"><img src="img/foot_01.png" alt=""></a>
                <a href="" class="fot_bot_right_img"><img src="img/foot_02.png" alt=""></a>
                <a href="" class="fot_bot_right_img"><img src="img/foot_03.png" alt=""></a>
                <a href="" class="fot_bot_right_img"><img src="img/foot_04.png" alt=""></a>
                <a href="" class="fot_bot_right_img"><img src="img/foot_05.png" alt=""></a>
            </div>

        </div>
        <img class="fot_bottom_img" src="img/foot_06.png">
    </div>
    <div class="fixed">
        <div class="fixed_in">
            <a class="fixed_a" href=""><img src="img/fixed_01.png" alt="" class="fixed_img"></a>
            <p class="fixed_p">个人中心</p>
        </div>
        <div class="fixed_in">
            <a class="fixed_a" href=""><img src="img/fixed_02.png" alt="" class="fixed_img"></a>
            <!--<a class="fixed_a" href=""><img src="img/fixed_o_02.png" alt="" class="fixed_img"></a>-->

            <p class="fixed_p">联系客服</p>
        </div>
        <div class="fixed_in">
            <a class="fixed_a" href=""><img src="img/fixed_03.png" alt="" class="fixed_img"></a>
            <p class="fixed_p">购物车</p>
        </div>
        <div class="fixed_in fi_bottmo">
            <a class="fixed_a" href=""><img src="img/fixed_04.png" alt="" class="fixed_img"></a>
            <p class="fixed_p">回到顶部</p>
        </div>
    </div>
</div>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="js/qs.js"></script>

<!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script>
        // var plus5_no2_in = document.getElementById("plus5_no2_in");
//         var plus5_no2 = document.getElementsByClassName("plus5_no2")[0];
//         plus5_no2.onclick = function () {
//             plus5_no2.className="plus5_no2 plus5_no2_close";
// //            plus5_no2.style.display="none";
//         }
        $(".plus5_no3_right_div9 .plus5_no3_right_div7_in").click(function () {
            console.log($(this).children().eq(1).html());
            $(".plus5_no3_right_div10_span2").html($(this).children().eq(1).html());

            $(".plus5_no3_img img").css("display","none").eq($(this).index()).css("display", "block");
            $(this).siblings().removeClass("plus5_no3_right_div7_in_hover").end().addClass("plus5_no3_right_div7_in_hover");

        })
        $(".plus5_no3_right_div7 .plus5_no3_right_div7_in").click(function () {
//            var value = $(".plus5_no3_right_div7_span0 ").html();
            console.log($(this).children().eq(1).html());
            $(".plus5_no3_right_div10_span0").html($(this).children().html());
            $(".plus5_no3_right_span10").html($(this).children().eq(1).html());
            var value = "总计:"+$(this).children().eq(1).html()
            $(".plus5_no3_right_div10_p2").html(value);

            $(this).siblings().removeClass("plus5_no3_right_div7_in_hover").end().addClass("plus5_no3_right_div7_in_hover");
        })
    </script>
<script>
    let pid;
    let id=0;

    let i=0;
    let app=new Vue({
        el:'#plu5',
        data:{
            childComment:{
                name:'',
                content:'',
                username:''
            },
            child:{
                name:''

            },
            dialogFormVisible:false,
            comment: {
                id:'',
                content:'',
                username:'',
                userid:'',
                foreign_id:'',
                pid:'',
                target:'',
            },
            hostComments:[],
            hostcomment:{
                com:{
                    username:'',
                    content:'',

                }},
            reply:{
                id:'',
                target:''
            },
            visible: false,
            phone:'',
            phones:'',
            price:'',

            colors:[],
            activeIndex:0,
            active1:0,
            pi:'',
            carts:[],
            addresses:[],
            showDropdown:false,
            daddress:'',
            timer: null,
            searchBrand: '',//搜索框文本
            loginid:'',
            col:'',
            statusnum:''
                        //首页是否已经登录的id

        },
        computed: {
            integerPrice() {
                return Math.floor(this.price * (1 + 0.2));
            }
        },
        mounted:function () {



            axios.all([findPhoneByPid(),findByUid(),findByForeignId(),checkLogin(),findnoforcolors()]).then(axios.spread((rs1,rs2,rs3,rs4,rs5)=>{
                console.log(rs2);
                console.log(rs1);
                console.log(rs3);
                console.log(rs4);
                console.log(rs5);
                this.addresses=rs2.data.list;
                this.phone=rs1.data.list[0];
                this.phones=rs5.data.capas;
                //this.colors=fen(rs1.data.list[0].color);耳朵S++
                this.colors=rs5.data.colors;
                this.daddress=rs2.data.list[0].address;
                this.hostComments=rs3.data.hostList;
                this.carts=rs4.data.carts;
                this.$emit('my-event');
            }));

        },
        methods: {
            checkDatabase() {

                if (this.activeIndex !== null && this.active1 !== null) {
                    console.log('内存:'+this.phones[this.activeIndex].cap);
                    console.log('颜色:'+this.colors[this.active1].color);
                    console.log('名字:'+this.phone.name)
                    this.col=this.colors[this.active1].color;
                    // 发送请求检查数据库是否存在数据
                    // 可以使用axios或其他HTTP库来发送异步请求
                    // 示例使用axios发送POST请求到"eck-database"路由
                    axios({
                        url:"phoneBottom",
                        method:'get',
                        params:{op:'findfornum',color:this.colors[this.active1].color,cap:this.phones[this.activeIndex].cap,name:this.phone.name}
                    }).then(response => {
                        console.log(response);
                        this.statusnum=response.data.phone.num;
                        this.price=response.data.phone.price;
                        id=response.data.phone.id;
                        console.log(this.statusnum)
                        if (response.data.phone.num === 0) {
                            // 处理数量为零的情况
                        } else {
                            // 处理数量不为零的情况

                        }
                    })
                }
            },
            submit() {
                let username=sessionStorage.getItem('username');
                let id=sessionStorage.getItem('id');
                console.log(this.comment.content)
                return axios({
                    url: "com",
                    method: 'get',
                    params: {
                        op: 'add',
                        content: this.comment.content,
                        username: username,
                        userid: id,
                        pid: 0,
                        target: 1,
                        foreign_id: pid
                    }
                })


            },
            savereply() {
                if (this.child.name == null && "" === this.child.name) {
                    alert("输入的空");
                    this.dialogFormVisible = false;
                    return;


                }
                let username=sessionStorage.getItem("username");
                let id=sessionStorage.getItem("id");

                this.dialogFormVisible = false;


                return axios({
                    url: "com",
                    method: 'get',
                    params: {
                        op: 'add',
                        content: this.child.name,
                        username: username,
                        userid: id,
                        pid: this.reply.id,
                        target: this.reply.target,
                        foreign_id: pid
                    }
                });


            },
            ureply(id, target) {
                this.dialogFormVisible = true;
                this.reply.id = id;
                this.reply.target = target;




            },

            replyChild(id, target) {
                this.reply.id = id;
                this.reply.target = target;
                this.dialogFormVisible = true;
            },

            findBrand:function(){ //根据品牌名称搜索
                console.log(this.searchBrand);
                if (this.searchBrand==null||this.searchBrand==""){
                    alert("请输入搜索条件");
                }else {
                    sessionStorage.setItem("getBrand", this.searchBrand);//将参数设置到session中

                    location.href="search.html";


                    //需要判断搜索的内容 如果是搜索的品牌那么将
                }
            },


            startTimer() {
                this.timer = setTimeout(() => {
                    this.showDropdown = false;
                }, 2000);
            },
            resetTimer() {
                clearTimeout(this.timer);

            },
            hideDropdown() {
                this.startTimer();
            },
            selectAddress(address) {
                this.daddress = address.address;
                this.showDropdown = false;
            },

            changeColor(pi, index) {
                this.activeIndex = index;
                // 更新被点击的 div 的索引
                this.pi = pi;
                this.checkDatabase();


            },
            changeColor1(pi, index) {
                this.active1 = index;
                this.color = pi.color;
                this.checkDatabase();

            },
            //加入购物车方法
            addCart(){

                let flag=0;
                this.loginid=sessionStorage.getItem("id");   //首页登录后会将该用户的id值设置进去
                if (this.loginid===null){ //没有值说明未登录
                    alert("请登录！！！");
                    location.href="login.html";
                }

                if(this.carts.length>0){
                    for(let i=0;i<this.carts.length;i++){
                        if(this.carts[i].id==id){
                            flag=1;
                            axios.post('cart',
                                qs.stringify({
                                    op:'update',
                                    gno:id,
                                    num:1,
                                })
                            ).then(rs=>{
                                if (rs.data > 0) {
                                    this.carts[i].num = this.carts[i].num + 1;
                                    this.goodsCount++;
                                } else {
                                    alert("添加失败");
                                }
                            });
                        }
                    }
                }
                if (flag==0){
                    //购物车没有
                    axios.post("cart",qs.stringify({
                        num:1,
                        op:"add",
                        gno:id
                    })).then(rs=>{
                        let cno=rs.data;
                        if ("0"==cno){
                            alert("添加失败")
                        }else {
                            //更多数据
                            this.carts.push({gno:id,cno:cno,num:1,uno:this.uno});
                            this.goodsCount++;
                        }
                    });
                }
                alert("添加成功");
            },







        },
        created() {
            this.$on('my-event', this.checkDatabase);
        }
    });
    function checkLogin(){
        return axios.get("user?op=check");
    };
    function findnoforcolors(){
        return axios({
            url:'com.yc.bean.Phone',
            method:'get',
            params:{op:'findnoforcolors',pid:pid}

        })
    };


    function findPhoneByPid() {
        let hash=decodeURI(location.hash);
        console.log(hash);
        if(hash==''){
            // location.href="index.html";
            return;
        }
        hash=hash.replace("#","");
        if (hash.includes("pid=")) {
            let value = hash.match(/pid=(\d+)/);
            if (value && value[1]) {
                hash = value[1];
            }
        }
        pid=hash;
        console.log(pid);
        return axios({
            url:'phoneBottom',
            method:'get',
            params:{op:'findByPid',pid:pid}
        })

    };

    function findByUid() {
        this.loginid=sessionStorage.getItem("id")
        return axios({
            url:'address',
            method: 'get',
            params: {op:'findByUid',uid:this.loginid}

        })

    };
    function findByForeignId(foreignid) {
        return axios({
            url:'com',
            method:'get',
            params: {
                op:'findByForeignId',
                foreign_id:pid,
            }


        })


    }
    //分割颜色



</script>

</body>
</html>